.header-logo {
  width: 50px;
  margin: 0 50px;
}

.punto-12-img {
  height: 1rem;
}

.img {
  width: 50px!important;
  margin: auto;
}

@font-face {
  font-family: ENRIQ;
  src: url("./ENRIQ.otf");
}

@font-face {
  font-family: Gotham Bold;
  src: url("./Gotham-Bold.otf");
}

@font-face {
  font-family: Gotham Book;
  src: url("./Gotham-Book.otf");
}

@font-face {
  font-family: Cochin;
  src: url("./Cochin.ttf");
}

@font-face {
  font-family: MonoAndFriendsLa;
  src: url("./monoandfriendsla-Regular.otf");
}

@font-face {
  font-family: Marion;
  src: url("./Marion\ The\ Essentials.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("./Montserrat-Regular.ttf");
}

@font-face {
  font-family: Neuton;
  src: url("./Neuton-Light.ttf");
}

@font-face {
  font-family: Antic;
  src: url("./AnticDidone-Regular.ttf");
}

h1 {
  font-family: Marion !important;
  font-size: 75px;
}

h2,
h3,
h4,
h5 {
  font-family: Antic !important;
  color: #9b0200;
  font-size: 40px;
}

p,
div,
span,
li,
input {
  font-family: Montserrat !important;
}

.container {
  position: relative;
}

.anchor {
  position: absolute;
  top: -65px; /* given the fixed header is 50px tall, and you want 15px padding */
  left: 0px;
}

.cursive {
  font-family: MonoAndFriendsLa !important;
  color: #5B5B5B;
}

.time {
  font-family: Montserrat !important;
}

.cochin {
  font-family: Cochin !important;
}

.icon-img {
  width: 50px;
  margin-bottom: 20px;
}

#header,
#headerMobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#headerMobile {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 20px;
  background-color: white;
}

#header *,
#headerMobile * {
  color: #5B5B5B;
}

.menu-btn {
  border: none;
}

.icon-bar {
  background-color: #888;
  margin: 4px 0;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-header {
  padding: 5px 10px;
  display: flex;
}

.navbar {
  width: 100%;
  background-color: #F8F6F4;
}

.navbar.show {
  display: block;
  width: 100%;
  background-color: #F8F6F4;
  color: #5B5B5B;
}

.navbar.show a {
  padding: 10px;
  width: 100%;
}

.navbar a:hover {
  color: #F8F6F4 !important;
  background-color: #5B5B5B;
}

@media screen and (max-width: 1024px) {
  #header {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  #headerMobile {
    display: none;
  }

  #description {
    margin-top: 65px;
  }
}

#banner {
  width: 100%;
  color: white !important;
  min-height: 800px;
  display: flex;
}

.banner-logo {
  width: 20px;
}

.menu {
  margin: auto 20px auto auto;
}

.menu a {
  margin: 0 20px;
  color: white;
}

.banner-container {
  width: 100%;
  height: 800px;
  position: relative;
}

.banner-division {
  width: 120px;
  border: 1px solid white;
}

.banner-title-container {
  margin: auto auto 40px auto;
  text-align: center;
}

#countdown {
  padding: 40px 0;
  position: relative;
  color: white;
  text-align: center;
}

#countdown h1 {
  color: black;
  font-family: Marion !important;
}

#countdown h2 {
  color: #bc795e;
  font-weight: bold;
  font-family: Montserrat;
}

#countdown p {
  color: black;
}

.countdown-container {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.countdown-time-container {
  text-align: center;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
}

.parents-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.parents-container {
  width: 100%;
  max-width: 450px;
  height: 100%;
  display: table;
  margin: 20px;
}

.parents-container p {
  background-color: #c5a98c;
  margin: auto;
  color: white !important;
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  
  h1 {
    font-size: 50px;
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: 30px;
  }
  
  .countdown-container {
    max-width: none;
    width: 100%;
  }

  .countdown-time-container {
    width: 100%;
    height: auto;
  }

  .parents-row {
    padding: 20px;
  }

  .parents-container {
    margin: 20px;
  }
}

.intermediate-banner {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

#itinerary {
  background-color: #F8F6F4;
  padding: 40px 0;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #bc795e;
  top: 5px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.itinerary-event-extras {
  display: flex;
  width: 50%;
}

.display-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .itinerary-event-extras {
    display: none;
  }

  .itinerary-event {
    width: 100% !important;
    padding: 0 70px !important;
  }

  .timeline::after {
    top: 5px;
    bottom: 0;
    left: 40px;
  }

  .event-left::before {
    left: 40px;
  }

  .display-mobile {
    display: block;
  }

  .event-icon {
    left: 10px !important;
  }
}

/* Container around content */
.itinerary-event {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Place the container to the left */
.event-left {
  left: 0;
}

/* Add arrows to the left container (pointing right) */
.event-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.event-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.event-right::after {
  left: -16px;
}

/* The actual content */
.event-description {
  padding: 20px 30px;
  text-align: justify;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.event-image {
  padding: 10px 40px;
  position: relative;
  width: 100%;
}

.event-icon {
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  z-index: 100;
  position: absolute;
  border-radius: 50%;
}

.event-title {
  color: #5B5B5B;
  font-weight: bold;
}

.event-image p {
  padding: 0 10px;
}

.event-image img {
  width: 100%;
}

.btn,
.btn a {
  margin: 10px 0;
  background-color: #9b0200;
  color: white;
}

.btn-gray {
  background-color: #B5B090;
}

/* DRESS CODE */

.dress-code-description-container {
  margin: 40px auto;
  padding: 20px;
  border: 10px solid #bc795e;
}

.dress-code-description * {
  max-width: 400px;
}

.dress-code-description-image {
  width: 50px;
}

.dress-code-img-large {
  width: 100%;
}

.dress-code-icon {
  width: 50px;
  margin: 10px;
}

/* WISHLIST */
.gray-background {
  background-color: #F8F6F4;
  padding: 40px 0;
}

.wishlist-item {
  background-color: white;
  height: 100%;
  min-height: 300px;
  position: relative;
  width: 100%;
}

.wishlist-btn-container {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.wishlist-btn {
  text-align: center;
}

.wishlist-item img {
  height: 50px;
}

.wishlist-title {
  color: #bc795e !important;
}

@media screen and (max-width: 1024px) {
  .wishlist-item {
    min-height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .wishlist-item {
    min-height: 300px;
  }
}

/*RSVP*/
.rsvp-form-container {
  border: 10px solid #bc795e;
  background-color: #F8F6F4;
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
}

.rsvp-checkbox-container {
  display: flex;
}

.rsvp-checkbox-container * {
  margin: auto 5px;
}

.rsvp-input-container {
  margin: auto;
}

.rsvp-input-container * {
  margin: 10px 5px;
}

.rsvp-input-gray {
  background-color: #d4d4d2;
  border: none;
  padding: 10px;
  color: #fff;
}

.rsvp-input-gray::placeholder {
  color: #fff;
}

.rsvp-input-invisible {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #B5B090;
  color: #000000;
  text-align: center;
}

.itinerary-btn, .itinerary-btn * {
  background-color: #bc795e!important;
  color: white;
}

.rsvp-btn {
  background-color: #bc795e;
  color: white;
}

@media screen and (max-width: 768px) {
  .rsvp-input-gray {
    width: 100%;
  }
}

.recommendation-section {
  padding: 0;
  display: inline-block;
  width: 100%;
}

.recommendations-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.recommendation-title {
  color: #bc795e;
  font-size: 30px;
}

.recommendation-img {
  max-height: 275px;
  display: table-cell;
  margin: auto;
}

.recommendation-container {
  display: table;
  min-height: 400px;
  width: 100%;
}

.recommendation-btn-container {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.recommendation-btn, .recommendation-btn * {
  background-color: #bc795e !important;
  color: white;
  margin: auto;
}

/*GALLERY*/
.gallery-image {
  width: 100%;
  padding: 5px;
}

.gallery-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100000;
}

.gallery-popup-btn {
  right: 20px;
  position: absolute;
}

.gallery-popup-back {
  top: 40%;
  padding: 16px;
  position: absolute;
  left: 10px;
}

.gallery-popup-next {
  top: 40%;
  padding: 16px;
  position: absolute;
  right: 10px;
}

.gallery-popup-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

@media screen and (max-width: 450px){
  .hashtag {
    line-break: anywhere;
  }
}